[submodule "latex-struct"]
	path = latex-struct
	url = git@git.backbone.ws:kolan/LAview.LaTeX-Struct.git
[submodule "core"]
	path = core
	url = git@git.backbone.ws:kolan/LAview.Core.git
[submodule "data-example"]
	path = data-example
	url = git@git.backbone.ws:kolan/LAview.Plugin.Data-Example.git
[submodule "desktop"]
	path = desktop
	url = git@git.backbone.ws:kolan/LAview.Desktop.git
[submodule "cmake/backbone"]
	path = cmake/backbone
	url = git@git.backbone.ws:kolan/CMake.backbone.git
[submodule "gobject-plugin"]
	path = gobject-plugin
	url = git@git.backbone.ws:kolan/GObject-Plugin.git
[submodule "object-example"]
	path = object-example
	url = git@git.backbone.ws:kolan/LAview.Plugin.Object-Example.git
[submodule "cairo-chart"]
	path = cairo-chart
	url = git@git.backbone.ws:kolan/Cairo-Chart.git
[submodule "table_meas"]
	path = table_meas
	url = git@git.insysltd.org:kolan/LAview.Object.TableMeas.git
[submodule "control_point"]
	path = control_point
	url = git@git.insysltd.org:kolan/LAview.Data.ControlPoint.git
[submodule "stand_config"]
	path = stand_config
	url = git@git.insysltd.org:kolan/LAview.Data.StandConfig.git
[submodule "laview-templates"]
	path = laview-templates
	url = git@git.insysltd.org:kolan/LAview.Templates.git
